body {
	background-color: #DBDFE2;
}
.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 600px;
    padding: 15px;
}
.description-box {
	
	width:300px;
    height:50px;
}

/*On the home page*/
.errorblock {
    color: #ff0000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}
.loginForm {
    margin-top: 15px;
    float:right;
    font-family: sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}
.login-input {
    width:130px;
    height:30px;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-left:1px;
}
.signin-input{
    height:32px;
}
.home-wrapper {
    margin:auto;
    width:1000px;
}
.home-container{
    margin:auto;
    margin-top: 10px;
    width:1000px;
    overflow: auto;
}
.carousel-container{
        display:inline-block;
        float:left;
        width: 550px;
        border-radius: 5px;
        margin-left: 10px; 
        height:370px; 
        padding:10px;

}

.signup-container{
        display: inline-block;
        float:right;
        width:   400px;
        padding: 10px;

}


#sign-up-box {
        padding: 10px;
        padding-top: 0px;
        border: 1px solid rgb(184, 168, 168);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        height:300px;
        
        /* background-color:rgba(59, 117, 250, 0.1); */
}
.signup-input {
    width:189px;
}
.carousel-image {
    width:auto;
    height:300px;
}
.carousel-inner-image img {
    width: auto;
    height:300px;
}

#sign-up-box .box-title-wrapper {
        position: relative;
        top: -26px;
        left: 2px;
        width: 128px;
        color: #2b69a4;
}
#sign-up-box .box-title{
        padding:0px;
        margin-top: -8px;
        background-color: #fff;

}

#sign-up-box .box-content {
        position: relative;
        top: -12px;
        margin: 10px;
        clear: left;
}
#sign-up-box .box-content .sign-up-field {
        margin-top: 20px;
        font-size:  13px;

}
#sign-up-box .box-content .sign-up-field .label-wrapper {
        width: 138px;
        line-height: 30px;
        font-family: 'Varela Round', sans-serif;
        font-size: 15px;
}
#logout-wrapper {
    display:block;
    float:right;
    width:310px;
    margin-top:18px;
}
#logout-text{
    color:#ffffff;
    font-size: 15px;
}
#logout-text-wrapper{
    width:100px;
    display:inline-block;
}
#account-name-wrapper {
    width: 200px;
    display:inline-block;
}
#account-name {
    color: #FFFFFF;
    font-size: 15px;
    display:inline-block;
}

#header-wrapper {
        margin: 0px auto;
        width: 1000px;
}
.header{
        height:60px ;
        background: rgb(81, 127, 164);/* instagram blue*/
        margin:0px auto;
}
.site-title{
        padding-top: 25px;
        padding-left: 50px; 
        font-family: 'Indie Flower', cursive;
        color:#FFFFFF;
        font-size: 33px;
        font-weight: 900;
        float: left;
        margin-top: -10px;

}
#navigation-wrapper {
        margin: 0px auto;
        width: 900px;
}
.navigation-bar {
        height:40px;
        background-color: #272E3C;
        margin: 0px auto;
        padding-top: 10px;
}
.navi-item {
        margin-left: 142px;
        font-size: 20px;
        font-family:'Indie Flower', cursive;
        color:#FFFFFF;
        display:inline;
        /*text-align: center;*/
}

.footer {
        clear: both;
        padding: 8px 0 7px;
        text-align: center;
        font-size: 12px;
        color:rgb(81, 127, 164);
}
#footer-wrapper {
        margin:0px auto;
        width:900px;
}

.footer-item {
        display: inline;

}

#map-canvas {
        height: 400px;
        width: 553px;
        
}
.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

#pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 350px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
        }

#pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 351px;
      }


.modal {
        z-index: 20;
}
.modal-backdrop {
        z-index:10;
}
/* On posting page */
.posting-container {
    background: #BCBEC0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px;
     -webkit-border-radius: 0 0 2px 2px;
    width: 600px;
    margin:auto;
    padding-top: 3px;
    padding-bottom:10px;
}
.posting-photo-container {
    background-color: rgba(255, 255, 253, 0.71);
    border:1px solid #c4cde0;
    -webkit-border-radius: 0 0 2px 2px;
    width:500px;
    margin: auto;
    margin-top: 20px;
   /* padding-bottom: 50px;*/
}

.posting-photo {
    height:498px;
    width:498px;
}
.posting-text-container {
    font-size: 14px;
    margin:10px;
    
}
.username-text-box {
    width:400px;
}
.username-text {
    color: #3f729b;
    font-weight: 700;
    width:200px;
}
.date-text {
    color: #999999;
    font-size:12px;
    display: inline;

}
.description-text-box {
    width:480px;
}
.description-text {
    color: #000;
    font-family: sans-serif;
    width:480px;
    word-wrap:break-word;

}
/* On user photo page */
.big-photo-container{
    background-color: #fff;
    border: 1px solid #c4cde0;
    -webkit-border-radius: 0 0 2px 2px;
    border-top: 0;
    width: 1000px;
    padding-bottom: 5px;

}
.user-photo-wrapper {
    margin: 0px auto;
    width: 1000px;
}
.photo-container{
    width:240px;
    height:240px;
    margin-top:7px;
    margin-left:5px;
    margin-bottom:2px;
    display:inline-block;
   
}
.photo-shadow{
    position:relative;
}
.photo-shadow:hover span{
    display:block;
    opacity: 1.0;
}
.photo-shadow:hover .photo-description-box {
    display: block;
}
.photo-shadow:hover {
    opacity: 0.6;
}

.photo-shadow span {
    position:absolute;
    top:0;
    right:0;
    display: none;
}
.photo-description-box {
    position:absolute;
    bottom:0;
    left:2px;
    display: none;
    color:#fff;
}

.image-box {
    width:240px; 
    height:240px;
}
.image-modal-box{
    width:500px;
    height:400px;
}


/*On upload page*/
.upload-wrapper{
    background-color: #fff;
    border: 1px solid #c4cde0;
    -webkit-border-radius: 0 0 2px 2px;
    border-top: 0;
    width: 600px;
    padding-bottom: 5px;
    margin:auto;
}

.upload-container{
    padding: 5px 0px 5px 23px;
}
#upload-button{
    display: inline;
    margin-left: 180px;
}
/*On the map Page*/
.map-wrapper{
    background-color: #fff;
    border: 1px solid #c4cde0;
    -webkit-border-radius: 0 0 2px 2px;
    border-top: 0;
    width: 1000px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:auto;

}
#map {
    height:500px;
    width:950px;
    margin:auto;
    
}
.map-window-photo {
    height:280px;
    width:380px;
}
.photo-scroll{
    overflow: scroll;
}

