# Code #
src/main/resources/AwsCredentials.properties
src/main/resources/mysqldatabase.xml
target/classes/AwsCredentials.properties
# Files #
*.class
# Packages #
*.jar
*.war
.DS_Store
.project
.settings/
bin/