# Code #
src/main/resources/AwsCredentials.properties
target/classes/AwsCredentials.properties
src/main/resources/mysqldatabase.xml
src/main/webapp/WEB-INF/spring/mysqldatabase.xml 
# Files #
*.class
# Packages #
*.jar
*.war
.DS_Store
.project
.settings/
bin/